.page-header {
  border-bottom: 1px solid #ECECEC;
}
// .navigation
// .navigation-list {
//   display: flex;
//   align-items: center;
// }

// .navigation-list {
//   margin-left: 93px;
// }

.page-header__navigation {
  display: flex;
  align-items: center;

  &-list {
    display: flex;
    align-items: center;
    margin-left: 93px;
  }
}

// .navigation-item {
//   position: relative;
// }

// .navigation-item:not(:first-child) {
//   margin-left: 50px;
// }

// .navigation-item-link {
//   display: block;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: #212121;
//   padding-top: 32px;
//   padding-bottom: 32px;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

.page-header__navigation-list__item {
  position: relative;

  &:not(:first-child) {
    margin-left: 50px;
  }
}

// .navigation-item-link {
//    display: block;
//    font-weight: 500;
//    font-size: 14px;
//    line-height: 1.14;
//    letter-spacing: 0.02em;
//    color: #212121;
//    padding-top: 32px;
//    padding-bottom: 32px;
//    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//  }

// .navigation-item-link:after {
//   content: "";
//   display: block;
//   position: absolute;
//   left: 0;
//   bottom: -1px;
//   width: 100%;
//   height: 4px;
//   border-radius: 2px;
//   background-color: var(--accent-color);
//   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   opacity: 0;
// }

// .navigation-item-link:hover::after {
//   opacity: 1;
// }

// .navigation-item-link:hover,
// .navigation-item-link:focus {
//   color: var(--accent-color);
// }

.page-header__navigation-list__item-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
  }

  &:hover::after {
    opacity: 1;
  }

  &:hover {
    color: var(--accent-color);
  }

  &:focus {
    color: var(--accent-color);
  }
}

// .hdr-contacts {
//   display: flex;
//   align-items: center;
//   margin-left: auto;
// }

// .hdr-contacts-itm+.hdr-contacts-itm {
//   margin-left: 30px;
// }

.hdr-contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;

  &__item+&__item {
    margin-left: 30px;
  }
}

// .hdr-contact-link {
//   display: flex;
//   flex-direction: row-reverse;
//   align-items: center;
//   padding-top: 32px;
//   padding-bottom: 32px;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--primery-text-color);
//   fill: var(--primery-text-color);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .hdr-contact-link:hover,
// .hdr-contact-link:focus {
//   color: var(--accent-color);
// }

.hdr-contact__link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  fill: var(--primery-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.hdr-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

// .current {
//   color: var(--accent-color);
// }

// .current::after {
//   opacity: 1;
// }

.current {
  color: var(--accent-color);

  &::after {
    opacity: 1;
  }
}